/docker/                  export-ignore
/tests/                   export-ignore
/.env.example             export-ignore
/.gitattributes           export-ignore
/.gitignore               export-ignore
/docker-compose.yml       export-ignore
/phpunit.xml              export-ignore
/composer.lock            export-ignore
/scripts/                 export-ignore
/phpstan.neon             export-ignore
/run                      export-ignore
/rector.php               export-ignore
/.githooks/               export-ignore
/CLAUDE.md                export-ignore
/.php-cs-fixer.dist.php   export-ignore
sdk.json                  merge=keepours
README.md                 merge=keepours
src/ApiRoute.php          merge=keepours
src/Models/**             merge=keepours
factories/**              merge=keepours
.env                      merge=keepours
